{% include 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
<!-- Fichier CSS personnalisé -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<style>
  .btn-outline-danger:hover {
    background-color: white;
    border-color: red;
    color: white;
  }
  body {
    background-color: #f1f1f1;
  }
  img {
    height: 200px;
  }
</style>
{% block content %}

<div class="container my-5">
  <div class="row">
    {% for projetutilisateur in projetutilisateurs %}
     {% for projet in projetutilisateur.projet.all %}
    <div class="col-12 col-sm-6 col-md-4 mb-4">
      <div class="card">
        <img
          src="/media/{{projet.photo}}"
          class="card-img-top custom-img"
        />
        <!-- Ajout de la classe "custom-img" -->
        <div class="card-body">
          <h5 class="card-title">{{ projet.libellai }}</h5>
          <p class="card-text">{{ projet.description }}</p>
          <p class="card-text">Date de début: {{ projet.date_debut }}</p>
          <p class="card-text">Date de fin: {{ projet.date_fin }}</p>
          <p class="card-text">Statut: {{ projet.get_acheve_display }} achevé</p>
        </div>
      </div>
    </div>
    {% endfor %}
     {% endfor %}
  </div>
</div>

{% endblock %}
